.margin_h{
    margin-right: 6rem;
    margin-left: 6rem;
}

.margin_b{
    margin-bottom: 6rem;
}

.flex-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}