.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color:  $white;

    .logo{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 3rem;
        color:  $pink;
        text-decoration: none;
    }

    .navbar{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        

        &_links{
            padding: 2rem 3rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color:  $pink;
            text-decoration: none;
            text-transform: uppercase;
            height: 100%;
            transition: all .2s;

            &:hover{
                background-color: $pink;
                color: $white;
            }
        }
        
    }
}